.hv-tip {
  position: fixed;
  width: 420px;
  font-size: 8pt;
  font-family: verdana;
  text-align: center;
  color: #5c0d11;
  background-color: #e3e0d1;
  padding: 4px 0;
  border: 1px solid #5c0d11;
}
.hv-tip p {
  margin: 0;
}
.hv-tip .showequip > div {
  margin: 3px auto 0;
  padding: 1px;
}
.hv-tip .showequip > div:first-child,
.hv-tip .eq span,
.hv-tip .eqt,
.hv-tip .eqr,
.hv-tip .eqc {
  font-weight: bold;
}
.hv-tip .showequip > div:first-child {
  border-bottom: 1px solid #a47c78;
  font-size: 10pt;
  padding: 2px 0 4px;
}
.hv-tip .eq > div {
  margin: 1px auto;
  padding: 1px;
  text-align: center;
  min-height: 17px;
}
.hv-tip .eqt,
.hv-tip .eqr {
  font-size: 110%;
}
.hv-tip .ex,
.hv-tip .ep {
  display: grid;
  gap: 2px 5px;
  justify-items: center;
}
.hv-tip .ex {
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #a47c78;
  text-align: right !important;
}
.hv-tip .ex > div {
  width: 165px;
  height: 18px;
}
.hv-tip .ex > div > div:nth-child(1) {
  float: left;
  width: 99px;
  padding: 2px;
  white-space: nowrap;
}
.hv-tip .ex > div > div:nth-child(2) {
  float: left;
  width: 45px;
  padding: 2px 0 2px 2px;
}
.hv-tip .ex > div > div:nth-child(3) {
  float: left;
  width: 6px;
  padding: 2px;
}
.hv-tip .ep > div {
  width: 115px;
  height: 18px;
}
.hv-tip .ep > div:first-child {
  font-weight: bold;
  margin: 4px auto 0 !important;
  width: 320px !important;
  grid-column: 1 / -1;
}
.hv-tip .ep > div > div:nth-child(1) {
  float: left;
  width: 60px;
  padding: 2px;
  text-align: right;
  white-space: nowrap;
}
.hv-tip .ep > div > div:nth-child(2) {
  float: left;
  width: 45px;
  padding: 2px 0 2px 2px;
  text-align: left;
}
.hv-tip .ep1 {
  grid-template-columns: repeat(1, 1fr);
}
.hv-tip .ep2 {
  grid-template-columns: repeat(2, 1fr);
}
.hv-tip .ep3 {
  grid-template-columns: repeat(3, 1fr);
}
.hv-tip a:link,
.hv-tip a:visited,
.hv-tip a:active {
  color: #5c0d11;
}
